@use "../variables" as *;

.page_layout {
  padding-top: 13rem;
  padding-bottom: 13rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  @media (min-width: $breakpoint) {
    flex-direction: row;
  }
}
