$breakpoint: 900px;
$nav-height: 120px;
$page-padding: 4rem;
$mobile-padding: 1.5rem;
$mobile-breakpoint: 640px;
$page-max-width: 1280px;
// $secondary-color: #1a1a1a;
// $primary-color: #fafafa;
$tertiary-color: #007bff;
$primary-color: #1a1a1a;
$secondary-color: #fafafa;
