@use "/src/app/variables" as *;

.service_card {
  height: 100%;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: none;
  transition: box-shadow 300ms ease-out;
  &:hover {
    box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.2);
  }
}

.mobile_image {
  display: none;
  @media (max-width: $mobile-breakpoint) {
    width: 50px;
    height: auto;
    display: block;
  }
  @media (min-width: ($mobile-breakpoint + 1px)) and ((max-width: 799px)) {
    width: 70px;
    height: auto;
    display: block;
  }

  @media (orientation: landscape) {
    display: none;
  }
}

.desktop_image {
  display: none;
  &__icon {
    display: none;
  }
  @media (min-width: 800px) {
    &__icon {
      display: block;
      width: 70px;
      height: auto;
    }
    display: block;
    width: 200px;
    height: auto;
  }
  @media (orientation: landscape) {
    &__icon {
      display: block;
      width: 80px;
      height: auto;
    }
    display: block;
    width: 200px;
    height: auto;
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $primary-color;
  z-index: 99999;
  transition: transform ease-out 500ms;
  transform: translateY(0px);
  height: $nav-height;
  @media (max-width: $mobile-breakpoint) {
    height: $nav-height - 40px;
  }

  box-shadow: 0px 0.5rem 0.5rem -0.6rem rgba(255, 255, 255, 0.5);

  &.see_thru {
    background-color: transparent;
    box-shadow: none;
    &.menu_open {
      background-color: $primary-color;
    }
  }
  &.hidden {
    box-shadow: none;
    transform: translateY(
      -$nav-height - 50px
    ); /* Adjust based on your navbar's height */
  }
  &.white_bg {
    background-color: $secondary-color;
    transition: background-color 300ms ease-out;
  }
}

.nav_link {
  position: relative;
  transition: opacity ease-out 300ms;
  white-space: nowrap;
  &::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: currentColor;
    display: block;
    position: absolute;
    pointer-events: none;
    transform: scaleX(0);
    opacity: 0%;
    transform-origin: left;
    transition:
      transform ease-out 300ms,
      opacity ease-out 300ms;
  }

  @media (min-width: $breakpoint) {
    opacity: 70%;
  }
}

.dropdown_open {
  color: $primary-color;
  &::after {
    content: "";
    position: absolute;
    left: -50%;
    right: -50%;
    top: 80%;
    height: 200%;
  }
}

.nav_arrow {
  align-self: flex-end;
  @media (min-width: ( $breakpoint - 1px)) {
    opacity: 70%;
  }
}

.mobile_nav_toggle {
  width: 54px;
  height: auto;
  display: none;
  @media (max-width: ( $breakpoint - 1px)) {
    display: block;
    filter: invert(100%);
  }
  @media (max-width: $mobile-breakpoint) {
    display: block;
    width: 36px;
    height: auto;
  }
}

.primary_navigation {
  padding-top: 1.25rem;

  @media (max-width: ( $breakpoint - 1px)) {
    z-index: 999;
    position: absolute;
    background-color: $primary-color;
    right: 0;
    top: $nav-height;
    height: 90vh;
    left: 0;
    padding-top: 2rem;
    padding-left: $page-padding;
    opacity: 0%;
    transition:
      300ms opacity ease-out,
      300ms visibility ease-out;
    visibility: hidden;
    &[data-visible="true"] {
      visibility: visible;
      opacity: 100%;
    }
    &[data-resizing="true"] {
      transition: none;
    }
    @media (max-width: $mobile-breakpoint) {
      top: $nav-height - 40px;
      padding-left: $mobile-padding;
      height: 92vh;
    }
  }
}

.navigation_items {
  gap: 2rem;
  display: flex;
  flex-direction: row;
  @media (max-width: ( $breakpoint - 1px)) {
    flex-direction: column;
    align-items: flex-start;
  }
  align-items: center;
}

.dropdown_menu {
  display: none;
  position: absolute;
  top: $nav-height;
  left: 0;
  right: 0;
  background: $secondary-color;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-radius: 0rem 0rem 1.5rem 1.5rem;
  &[data-hovered="true"] {
    .dropdown_content {
      animation:
        fade_in 300ms ease-in 100ms forwards,
        slide_up 300ms ease-in forwards;
    }
    .subjects_dropdown_content {
      animation:
        fade_in 300ms ease-in 100ms forwards,
        slide_up 300ms ease-in forwards;
    }
    animation: fade_in ease-in 300ms forwards;
  }
  @media (max-width: $mobile-breakpoint) {
    top: $nav-height - 40px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
  visibility: hidden;
  opacity: 0%;
  transition: opacity 300ms ease-out;
  &[data-visible="true"] {
    visibility: visible;
    opacity: 100%;
  }
}

.dropdown_content {
  padding-left: $page-padding - 2rem;
  padding-right: $page-padding - 2rem;
  max-width: $page-max-width;
  margin: auto;
  opacity: 0;
  transform: translateY(20%);
}

.subjects_dropdown_content {
  padding-left: $page-padding;
  padding-right: $page-padding;
  max-width: $page-max-width;
  margin: auto;
  opacity: 0;
  transform: translateY(20%);
}

nav li {
  &:hover {
    .nav_link {
      opacity: 100%;
      @media (min-width: $breakpoint) {
        &::after {
          transform: scaleX(1);
          opacity: 100%;
        }
      }
    }
    .nav_arrow {
      opacity: 100%;
    }
  }
}

.navbar_section {
  max-width: $page-max-width;
  padding-left: $page-padding;
  padding-right: $page-padding;
  margin: auto;
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 1.25rem;
  line-height: 1.75rem;
  @media (max-width: $mobile-breakpoint) {
    padding-left: $mobile-padding;
    padding-right: $mobile-padding;
  }
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade_out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide_up {
  0% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes box_grow {
  0% {
    height: 0rem;
  }
  100% {
    // This amount should be 38px * amount of items + 20px
    height: 10.125rem;
  }
}
@keyframes box_shrink {
  0% {
    // This amount should be 38px * amount of items + 20px
    height: 10.125rem;
  }
  100% {
    height: 0rem;
  }
}
.pointer_hover {
  &:hover {
    cursor: pointer;
  }
}

.mobile_menu_item {
  opacity: 70%;
  &:active {
    opacity: 100%;
  }
}

.mobile_menu {
  justify-content: end;
  flex-direction: column;
  padding-left: 1.25rem;
  gap: 0.625rem;
  overflow: hidden;
  height: 0rem;
  &[data-clicked="true"] {
    animation: box_grow 300ms forwards;
  }
  &[data-clicked="false"] {
    animation: box_shrink 300ms forwards;
  }
}
